<section class="main-wrapper">

  <header>
    <div class="box title-box calendar">
      <div class="main-ctrl">
      </div>
      <h1>{{t 'lineup_overview'}}</h1>
    </div>
  </header>

  <div class="shop-infos clearfix">

    <h1>h</h1>
  </div>

  <div class="row span-row">

    <div class="col-md-4 sidebar">
    {{#each labels}}

    {{/each}}
    </div>

    <div class="col-md-8">

    </div>

  </div>

</section>