extends ../../../../caminio-ui/api/views/layouts/application

append head
  if env === 'production'
    link( rel='stylesheet', href='/stylesheets/caminio-lineup.min.css' )
    link( rel='stylesheet', href='/stylesheets/markdown.min.css' )
    link( rel='stylesheet', href='/stylesheets/caminio-media.min.css' )
  else
    link( rel='stylesheet', href='/stylesheets/caminio-lineup/lineup.css' )
    link( rel='stylesheet', href='/stylesheets/3rdparty/ui-datepicker.css' )
    link( rel='stylesheet', href='/stylesheets/markdown/ghostdown.css' )
    link( rel='stylesheet', href='/stylesheets/markdown/github-styles.css' )
    link( rel='stylesheet', href='/stylesheets/caminio-media/media_manager.css' )
    link( rel='stylesheet', href='/stylesheets/caminio-media/3rdparty/jcrop.min.css' )

append foot
  if env === 'production'
    script(type='text/javascript', src='/javascripts/caminio-media.min.js')
    script(type='text/javascript', src='/javascripts/caminio-rocksol-translation.min.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup.min.js')
    script(type='text/javascript', src='/javascripts/caminio-markdown.min.js')
  else
    // translations
    script(type='text/javascript', src='/javascripts/caminio-rocksol/models/translation.js')

    script(type='text/javascript', src='/javascripts/markdown/codemirror.js')
    script(type='text/javascript', src='/javascripts/markdown/marked.js')
    script(type='text/javascript', src='/javascripts/markdown/highlight.pack.js')
    script(type='text/javascript', src='/javascripts/markdown/jquery.ghostdown.js')

    // mediafiles
    script(type='text/javascript', src='/javascripts/caminio-media/3rdparty/jcrop.min.js')
    script(type='text/javascript', src='/javascripts/caminio-media/3rdparty/jquery.iframe-transport.js')
    script(type='text/javascript', src='/javascripts/caminio-media/3rdparty/jquery.fileupload.js')
    script(type='text/javascript', src='/javascripts/caminio-media/locales/#{currentLang}.js')
    script(type='text/javascript', src='/javascripts/caminio-media/controllers/mediafile_editor_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-media/controllers/mediafile_thumb_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-media/views/mediafile_editor_view.js')

    // overview
    script(type='text/javascript', src='/javascripts/caminio-lineup/locales/#{currentLang}.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/router.js')

    // lineup_entries
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_mediafile_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_entries_table_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_entry_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_entries_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_entries_edit_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_event_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_orgs_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_orgs_table_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_org_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_orgs_edit_controller.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/controllers/lineup_job_controller.js')

    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_entry.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_org.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_job.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_person.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_event.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/models/lineup_price.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/views/lineup_entries_edit_view.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/views/lineup_entries_table_view.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/views/lineup_media_view.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/views/lineup_events_list_view.js')
    script(type='text/javascript', src='/javascripts/caminio-lineup/views/lineup_jobs_list_view.js')


block content

  aside#notifications.notifications
    
  script(type="text/x-handlebars")
    include hbs/app.hbs

  script(type="text/x-handlebars", data-template-name="index")
    include hbs/lineup/index.hbs


  script(type="text/x-handlebars", data-template-name="lineup_entries")
    include hbs/lineup_entries/index.hbs
  
  script(type="text/x-handlebars", data-template-name="lineup_entries/edit")
    include hbs/lineup_entries/edit.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/new")
    include hbs/lineup_entries/new.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/search")
    include hbs/lineup_entries/_search.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/form")
    include hbs/lineup_entries/_form.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/table")
    include hbs/lineup_entries/_table.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/links")
    include hbs/lineup_entries/_links.hbs

  script(type="text/x-handlebars", data-template-name="lineup_entries/labels")
    include hbs/lineup_entries/_labels.hbs

  script(type="text/x-handlebars", data-template-name="lineup/media")
    include hbs/lineup/media_view.hbs
  
  script(type="text/x-handlebars", data-template-name="lineup_events/list")
    include hbs/lineup_events/list.hbs

  script(type="text/x-handlebars", data-template-name="lineup_events/item")
    include hbs/lineup_events/item.hbs

  script(type="text/x-handlebars", data-template-name="lineup_jobs/list")
    include hbs/lineup_jobs/list.hbs

  script(type="text/x-handlebars", data-template-name="lineup_jobs/item")
    include hbs/lineup_jobs/item.hbs

  script(type="text/x-handlebars" data-template-name="media_manager/file")
    include ../../../../caminio-media/api/views/media_manager/hbs/file.hbs

  script(type="text/x-handlebars" data-template-name="mediafile_editor")
    include ../../../../caminio-media/api/views/media_manager/hbs/mediafile_editor.hbs


  // orgs / venues
  script(type="text/x-handlebars", data-template-name="lineup_orgs")
    include hbs/lineup_orgs/index.hbs
  
  script(type="text/x-handlebars", data-template-name="lineup_orgs/edit")
    include hbs/lineup_orgs/edit.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/new")
    include hbs/lineup_orgs/new.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/search")
    include hbs/lineup_orgs/_search.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/form")
    include hbs/lineup_orgs/_form.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/table")
    include hbs/lineup_orgs/_table.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/links")
    include hbs/lineup_orgs/_links.hbs

  script(type="text/x-handlebars", data-template-name="lineup_orgs/accessibility")
    include hbs/lineup_orgs/_accessibility.hbs
